<h1 class="dev">Quote developer</h1>
<div *ngFor="let quote of quotes; let i=index" >
    <div class="card para">
        <div class="card-body">
            <p >{{quote.quote}}</p>
            <p>{{quote.author}}</p>
            <!-- <p>{{quote.name}}</p> -->
            <p class="vote"(click)='upVoteIcon(i)' ><i class="far fa-thumbs-up"  ></i>{{quote.upvote}}</p>
            <p class="vote"(click)='downVoteIcon(i)' ><i class="far fa-thumbs-down" ></i>{{quote.downvote}}</p>
            <button class="btn btn-sm btn-danger" id="del" (click)="quoteDelete($event ,i)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
      </div>
</div>


<app-quote-form></app-quote-form>