<div class="form">
    <form class="me" >
        <label for="name">Add name</label>
        <input type="text" class="pad">

        <label for="author">Author</label>
        <input type="text" class="pad">

        <label for="quote">Quote</label>
        <textarea name="add" placeholder="add quote" id="plus" cols="30" class="pad" rows="10"></textarea>

        <!-- <input class="sub" type="submit" value="submit" > -->
        <button class="sub"type="submit"(click)="addedQuote(quotes)" value="submit">submit</button>
       
    </form>

    <img src="../../assets/quoteimglogo.png" class="logo" alt="">
    
</div>