.form{
    display: flex;
    margin-top: 8%;
    /* background-color: blueviolet; */
}
.me{
    display:grid; 
    width: 50px; 
    align-items: center;
    margin-left: 150px;
   
}
.logo{
    margin-left: 50%;
}
.pad{
    margin: 20px;
}
.sub{
    width: 80px;
    background-color: blueviolet;
}
input:hover{
    background-color: palevioletred;
}